<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>URL</key>
        <dict>
            <key>SBS</key>
            <dict>
                <key>Identifier</key>
                <string>com.plexapp.plugins.sbs</string>
                <key>URLPatterns</key>
                <array>
                    <string>http://www.sbs.com.au/ondemand/video/.+</string>
                    <string>http://sbsauvod-f.akamaihd.net/SBS_Production/managed/.+</string>
                </array>
            </dict>
        </dict>
    </dict>
</plist>